body {
    background-image: url("../aseets/ETMKqZ0diDQ.jpg");
    display: flex;
    flex-direction: column;
}

h1 {
    position: absolute;
    text-align: center;
    top: 450px;
    width: 100%;
    color: white;
}

header {
    font-size: 36px;
    padding-top: 150px;
}


/**Main**/
main {
    font-size: 24px;
    text-align: center;
    color: white;
}

.me {
    display: flex;
    justify-content: flex-start;
    width: 1200px;
    height: 455px;
    background-color: rgb(255, 69, 0, 0.5);
    margin-top: 500px;
}

.about {
    flex-direction: column;
}
 .about h3  {
    padding-top: 50px;
    }


.me img {
    padding-top: 15px;
    height: 426px;
    width: 640px;
    padding-left: 10px;
}
.container{
    display: flex;
    justify-content: space-around;
}

.edu {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 500px;
    height: 350px;
    background-color: rgb(255, 69, 0, 0.5);
    margin-top: 10px;
    padding-bottom: 20px;
}

.favor {
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 500px;
    height: 350px;
    background-color: rgb(255, 69, 0, 0.5);
    margin-top: 10px;
    padding-bottom: 20px;


}

/**Main**/

.footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 50px;
    width: 100%;
    color: white;
    text-align: center;
    background-color: rgb(255, 69, 0, 0.5);
    bottom: 1px;
    margin-top: 20px;


}
